[2018-08-02 13:36] zupo opened #3 "Return @dataclasses objects instead of primitives in request.openapi_validated"
Instead of having strings, ints, etc in `request.openapi_validated` we could have `dataclass` objects that match the schema and provide type protection.

[2018-08-02 13:36] zupo commented on #3
Similar idea: https://github.com/graphql-python/graphene/issues/729#issuecomment-393673570

[2018-08-10 11:41] domenkozar opened #4 "mocked api using hypothesis"
It would be useful for frontend work to be able to tell pyramid_openapi3 that for missing endpoints, use https://github.com/HypothesisWorks/hypothesis/tree/master/hypothesis-python to mock responses.

[2018-08-23 10:50] domenkozar commented on #3
https://github.com/p1c2u/openapi-core/issues/88

[2019-04-07 23:10] mcdonc opened #7 "README improvements"
Hi Nejc,

The readme looks structurally good.  I think two improvements could be:

- briefly describe what openapi is
- Maybe show the simplest possible pyramid_openapi2 app within the readme (just something that serves out one API method).

I'll put this in an issue and I'll try to do those things unless you get to them first.

[2019-04-15 18:00] zupo opened #10 "Serve JSON spec too"
Besides serving the YAML spec, we should serve the JSON spec too.

See https://github.com/niteoweb/pyramid_openapi3/pull/9#pullrequestreview-226394697.

[2019-04-15 22:14] mcdonc opened #11 "Feature idea: allow for multiple specs"
I see that the openapi validator is currently implemented as a view deriver, which is perfectly reasonable.  In a more complex world, it might (I dunno, maybe not) be useful to be able to say:

[code]

... where whatever.openapi was the actual spec file, allowing for more than one spec to be used in the app at a time.  It's just a thought.

[2019-05-08 13:54] zupo opened #15 "Document pyramid_openapi3_validation_error_view permissions"
Document that `pyramid_openapi3_validation_error_view()` is [registered without permissions](https://github.com/Pylons/pyramid_openapi3/pull/6#discussion_r272651906).

[2019-05-08 13:55] zupo opened #16 "Tutorial for validating Dataclases/Pydantic models against schema"
Would be great to add some documentation on how to validate Enums, Dataclases, PyDantic models against schema.

[2019-05-08 14:34] zupo opened #18 "Anounce stable release"
- [x] Announcement blog post: https://blog.niteo.co/robust-rest-apis-with-pyramid/
- [x] Announce to https://groups.google.com/forum/#!forum/pylons-discuss.
- [x] Announce via Twitter https://twitter.com/pylonsproject.
- [x] Outreach:
  - [x] https://www.reddit.com/r/webdev
  - [x] https://www.reddit.com/r/Python/
  - [x] https://news.ycombinator.com
  - [x] https://lobste.rs/

[2019-05-09 06:56] stevepiercy commented on #18
@zupo do you have a draft announcement anywhere, or at least the history or good story, including why move this under the Pylons Project?

Is the blog NiteoWeb's or your personal one?

I can do the Twitter post or grant you access to tweet on behalf of pylonsproject via TweetDeck.

[2019-05-09 10:54] zupo commented on #18
No, not yet. I want to do a 1.0 release first and run it in production for a few days.

I was planning to post to https://blog.niteo.co/, but I'm completely fine posting somewhere else.

I'm fine with you doing posting, just wait till I get the 1.0 out there.

[2019-05-09 11:31] stevepiercy commented on #18
We don't have a blog, so yours is good. I can derive content from that post for posting on Twitter, and refer to it.

[2019-05-22 19:20] zupo commented on #3
It seems pyramid-swagger can generate python models on the fly: https://pyramid-swagger.readthedocs.io/en/latest/quickstart.html#accessing-request-data

[2019-05-22 19:21] zupo opened #21 "Validate all endpoints are handled"
At app startup:
1. Get a list of all endpoints in `openapi.yaml`.
2. Get a list of all registered routes.
3. Raise exception if they don't match.

[2019-05-22 19:27] zupo opened #22 "Enforce common responses"
Use case: I want to make sure that all of my endpoints define at least some responses. For example, I want all endpoints to define `200`, `404`, `403` and `500`. If not, fail app startup.

We have a similar thing already built for https://app.woocart.com/api/v1/, but it's a script that we run in CI. And I guess other people probably have a similar use case. I'm pasting the files below, as a starti

[2019-05-22 19:38] zupo opened #23 "Provide an enhanced JSON renderer"
I like the [`pyramid_swagger ` renderer](https://pyramid-swagger.readthedocs.io/en/latest/quickstart.html#pyramid-swagger-renderer) from `pyramid_swagger` library.

With this, I can remove [custom renderers](https://github.com/niteoweb/pyramid-realworld-example-app/blob/master/src/conduit/openapi.py#L34) from the realworld example app. And less code is always nice.

[2019-06-07 03:56] gweis commented on #15
How about getting rid 'pyramid_openapi3_validation_error_view()' and define two custom Exceptions. e.g.: `RequestValidationError` and `ResponseValidationError`.  Both cloud inherit from a common base.
These two exceptions would be raised in the [view wrapper](https://github.com/Pylons/pyramid_openapi3/blob/master/pyramid_openapi3/__init__.py#L70) instead of calling `request.openapi_validated.raise

[2019-06-07 04:09] gweis opened #25 "Path parameter validation fails."
I am not sure whether this is an issue in openapi-core or whether this pkg needs to look at parameter validation differently, but I thought I'll start the conversation here.

OpenAPI 3 allows for parameter definition directly on a [Path Item object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#path-item-object). These parameters should be applicable to all operations

[2019-06-07 04:56] zupo commented on #15
pyramid_oas3 does something like this: https://github.com/kazuki/pyramid-oas3/blob/master/pyramid_oas3/tween.py#L119

Generally speaking, I'd prefer the approach you described, but then we lose the descriptive errors that openapi-core spits out, such as [`Value is shorter (2) than the minimum length of 3`](https://github.com/Pylons/pyramid_openapi3/blob/master/examples/singlefile/app.py#L148).

Ma

[2019-06-07 05:05] zupo commented on #25
Massive 🙏 for whipping up a test to demonstrate the bug!

This looks like a bug in `openapi-core` and should be reported there. Ideally, the `openapi-core` deals with all validation, so there is a single source-of-truth of where validation happens.

[2019-06-07 05:51] gweis commented on #15
It already skips descriptive things, because `request.openapi_validated.raise_for_errors()` throws only the first exception.

I was rather thinking passing the `ValidationResult` class or just the `ValidationResult.errors` as property along with the `custom exceptions`. A custom exception view can then decide how to display one or all errors inside it.

This package could provide a default validat

[2019-06-07 06:11] zupo commented on #15
You make very valid points. I'd love to see a PR on how you think this would be best approached!

[2019-06-10 02:11] gweis commented on #15
Created a pull request #26 .

I think it is fairly complete and requires 0 to very minimal changes for users of this library.

There are a couple of things that could be improved, esp. around re-raising exceptions and preserving orig. stack traces if required. Another thing that could be nice would be to make request / response validation optional, but that would be something for another pull requ

[2019-06-10 08:52] #18 closed

[2019-06-10 08:52] zupo commented on #18
All done.

[2019-06-18 23:00] gweis commented on #25
@zupo Has been fixed and released (openapi-core 0.11.0) upstream (at least as far as my use case is concerned).

When updating `openapi-core` #24 should fix potential other issues with parameter validation as well.

[2019-06-19 05:54] zupo commented on #25
Great, thanks, I'll have a look!

[2019-07-05 19:18] phrfpeixoto opened #27 "No Documentation?"
Where can we find documentation for this lib?

[2019-07-18 15:24] mandarvaze commented on #27
[README](https://github.com/Pylons/pyramid_openapi3/blob/master/README.md) seems to contain details like:

- [Getting Started](https://github.com/Pylons/pyramid_openapi3/blob/master/README.md#getting-started)
- [Link to Sample App](https://github.com/Pylons/pyramid_openapi3/blob/master/README.md#demo--examples)

Are you looking for specific help?

[2019-07-23 18:27] zupo commented on #27
What @mandarvaze said. I've seen far too often documentation getting out-of-date, so for this project I rather invested (far) more time into providing several runnable examples that contain lots of comments and tests to showcase how to use the library.

These examples are all tested on CI that makes sure they don't get out-of-date.

That said, I do plan to add a page or two of narrative documentat

[2019-07-23 18:33] stevepiercy commented on #27
We have a few doctests in Pyramid as examples, which includes `testsetup`. Example:

* https://github.com/Pylons/pyramid/blame/0bdc83690cdd11a7044c8106e8fd84bf2df46d95/docs/narr/hooks.rst#L309

[2019-07-23 18:39] zupo commented on #27
Thanks!

I've done this in the past with Plone too: https://github.com/plone/plone.api/blame/master/docs/user.rst#L24

It's mostly that I've kinda grown bored of writing .rst and really enjoy writing .md files these days. I'd possibly like to try doing the above with .md. Maybe. Not decided yet. :)

[2019-07-31 15:00] zupo commented on #4
Closing due to lack of interest. I'll gladly reopen if someone who wants/needs this steps up.

[2019-07-31 15:00] #4 closed

[2019-07-31 15:00] zupo commented on #11
Closing due to lack of interest. I'll gladly reopen if someone who wants/needs this steps up.

[2019-07-31 15:00] #11 closed

[2019-07-31 15:15] zupo commented on #25
Yep, I also confirm that upgrading openapi-core from `0.10.0` to `0.11.0` makes the given test case pass on my local. I presume this can be closed. Please reopen if I am mistaken.

[2019-07-31 15:15] #25 closed

[2019-08-06 10:11] silenius opened #31 "Integration with traversal"
All examples and documentation focus on URL dispatch, it would be good to support Traversal too or at least provide an example for a Traversal only application

[2019-08-30 08:20] zupo commented on #31
I've only lived in the URL dispatch for the last ~5 years, and wouldn't know how to even being. Can you provide a basic example and I can then make it pretty, add tests, etc.

[2019-08-30 08:51] stevepiercy commented on #31
The [pyramid-cookiecutter-starter](https://github.com/Pylons/pyramid-cookiecutter-starter) and related [tutorial](https://docs.pylonsproject.org/projects/pyramid/en/latest/tutorials/wiki/index.html) might be helpful.

[2019-09-27 12:19] zupo opened #34 "Move `extact_error` from example code to core code"
https://github.com/Pylons/pyramid_openapi3/blob/5d77dcb171ce7e611bebd4fb76408dca74d236b3/examples/todoapp/app.py#L63

So that people don't have to copy to use it, but import and use it.

[2019-10-11 16:55] mmerickel opened #35 "simplify this"
https://github.com/Pylons/pyramid_openapi3/blob/5d77dcb171ce7e611bebd4fb76408dca74d236b3/pyramid_openapi3/tween.py#L45-L52

This could simply be `return request.invoke_exception_view(reraise=True)` as it internally can deal with the exc_info stuff itself. A small improvement if someone wanted to do it.

[2019-10-21 01:06] phrfpeixoto commented on #21
Hello!

I'm working on this and I guess I need more info: Should I care for endpoint methods?
IE, support a spec like this:
[code]
This means that this API accepts GET and POST requests on /foo, and GET requests on /bar
On Pyramid, when simply checking at registered routes, the methods won't show up.
Assume a setup like this:

[code]

Upon checking on routes...

[code]
we'll see:
[code]

I poked a

[2019-10-22 10:51] dz0ny opened #40 "Direct dependencies are not pinned"
I think there is a slight bug on how dependencies are specified.

1. openapi-core is actually not managed by PIpenv https://github.com/Pylons/pyramid_openapi3/blob/master/setup.py#L70

This means that when packages are locked (see log bellow, round 1)  pip will always resolve latest version of **openapi-core,** which might not be compatible with the current release of pyramid_openapi3.

I think th

[2019-10-24 13:15] zupo opened #45 "Fail validation for extra data"
Suppose your `openapi.yaml` defines two string fields, `title` & `description. Both are required.

* Scenario A:

You send the following data to the API:

[code]

And the API will tell you that `description` field is required and you notice the `descriptioin` typo in your request.

* Scenario B:

You change the `openapi.yaml` so that `descriptioon` is no longer a required field.

You send the foll

[2019-10-24 13:19] zupo opened #46 "Auto-register routes"
Would it make sense to have `pyramid_openapi3` automatically register routes for all endpoints defined in`openapi.yaml`? This could be a default behavior so it's easier to get started with and less configuration is needed for simpler APIs.

[2019-10-26 21:28] zupo commented on #21
Hey @phrfpeixoto, I don't know the answer without digging deep and will be on the road until the end of this week. Have you tried asking [the community](https://trypyramid.com/community.html) for help getting the list of registered views?

[2019-10-30 10:15] jenner commented on #46
I like the fact that the package isn't opinionated on how you use it. Automatically registered routes would make it opinionated though (IMO). Adding an optional config method like config.pyramid_openapi3_register_routes() might be the way, so the routes are still need to be defined in wsgi factory if it's not called.

[2019-10-31 06:38] zupo commented on #21
I had a few minutes to dig up some tips, and I found this:

Pyramid ships with the `proutes` command that seems to print out everything we need:

[code]

[2019-11-02 21:10] davisagli opened #49 "Difficult to debug request validation errors"
I'm excited to use this package, but am running into some trouble debugging a test and wonder if I'm missing something.

If I add a breakpoint in pyramid_openapi3.openapi_view.wrapper_view, I can see that my test is failing because I forgot to include one of the required properties in a webtest request to my POST endpoint:

[code]

However, when I run the test without the breakpoint, I get an erro

[2019-11-05 03:37] davisagli commented on #49
@zupo any suggestions?

[2019-11-05 06:15] zupo commented on #49
I'm still figuring out this one myself too. Note that the problem is mostly with *response* validation, not request validation. Request validation should result in readable output in webtests.

One idea I had is to use a config flag that disables response validation, so that I can see errors in response body. But then again, this would mean having extra code just for in-development support and I'm

[2019-11-15 19:32] gweis commented on #49
The intention was to make the flag here https://github.com/Pylons/pyramid_openapi3/blob/master/pyramid_openapi3/__init__.py#L50 somehow configurable. E.g. something along the lines of:

When registering an openapi view you pass the `openapi=True`. This parameter could also take a tuple `(True, False)` or whatever to turn of response validation. (`request.environ["pyramid_openapi3.validate_response

[2019-11-15 19:34] gweis commented on #46
Yes please, ... keep that feature optional (if it ever get's implemented)

[2019-11-15 19:42] gweis commented on #35
The difference is, that `request.invoke_exception_view` will always reraise an exception, but this code here only re-raises the original exception if there is no exception view registered (or can't be found).

i.e. it is not hiding other errors that may happen inside an `exception_view`.

[2019-12-03 17:04] davisagli commented on #49
Django is handling this with a flag on the test client: https://docs.djangoproject.com/en/3.0/releases/3.0/#tests (see first bullet)

[2020-03-04 16:43] slobinger commented on #46
Yes it would be kind of opinionated like everything developed. IMO connexion has made a good decision in *how* they automatically map routes defined in spec to view functions.
OpenAPI has the 'operationID' that is perfect for this as one could write kind of 'fully quallified function name' e.g. package.(subpackages).module.(object).method in it so that
pyramid_openapi3  does not need to make a dec

[2020-03-07 18:42] #34 closed

[2020-03-07 18:42] #40 closed

[2020-03-07 18:42] #35 closed

[2020-04-29 06:34] ztane opened #74 "setup.py install_requires needs constraints too"
Pipenv does not give constraints for packages in PyPI. The install_requires must have constraints for the package versions for pip and pip-compile to find the working versions for openapi core et al.

[2020-04-29 06:36] zupo commented on #74
Hey ztane! We've had constraints for `openapi-core` in setup.py in the past when `pyramid_openapi3` was absolutely broken with latest `openapi-core`. When we updated it, we removed the constraint.

What bug are you hitting that would require constraints?

[2020-05-01 12:50] mkuczara opened #75 "Mishandled validation for arrays"
Hello,

while validating array of objects, you're generating unhandled exceptions. The library is properly validating the fields however if the validation of a particular field in an object in an array fails, an exception occurs in line 122 of `/pyramid_openapi3/exceptions.py`, which assumes that all members of err.path are strings while in this particular case it can also be the integer (index ar

[2020-05-01 14:09] zupo commented on #75
Thanks! I'll try to take a look over the weekend. Nevertheless, Pull Requests welcome :)

[2020-05-02 16:02] zupo commented on #75
@mkuczara: Hey, any chance you can try the [`list_validation`](https://github.com/Pylons/pyramid_openapi3/tree/fix/list_validation) branch on your openapi.yaml and report back if the proposed fix is good?

[2020-05-03 07:23] bertjwregeer commented on #74
Pylons projects in general only pin the lowest version they support, by doing a `>=` constraint. We do not set upper constraints on any packages on purpose.

[2020-05-03 15:45] #75 closed

[2020-05-03 15:56] zupo commented on #75
I've cut a bugfix release: https://pypi.org/project/pyramid-openapi3/0.8.1/

[2020-05-04 11:52] zupo commented on #45
This one needs to be re-reproduced because `openapi-core` switched to using `jsonschema` under the bonnet.

[2020-05-14 14:58] MatthewWilkes commented on #49
I've been thinking about this issue a bit today, and I'm struggling a bit.

AIUI, the problem was that @davisagli had an endpoint that expected certain parameters and was defined to not return a 400 response code. When the parameters are missing, the `openapi_view` view deriver creates a 400 response with the validation error. That 400 response is then rejected by the `excview_tween` tween, which

[2020-05-14 15:10] zupo commented on #49
Yep, sounds a good first step, non-invasive and potentially sufficient.

https://github.com/Pylons/pyramid_openapi3/issues/22 is supposed to do exactly this.

[2020-05-14 15:12] MatthewWilkes commented on #49
Nice, yeah, #22 looks good. Some documentation would bridge the gap so people know that's best practice. Works for me.

[2020-05-14 16:17] mmerickel commented on #49
I don't know if it helps but via https://github.com/Pylons/pyramid_openapi3/pull/68 the response validation exception does contain the original response that triggered the error, so maybe you can do something with that.

[2020-05-25 09:28] iustitia opened #77 "Upgrade SwaggerUI version to support examples"
It looks like showing examples in responses and body is not supported currently. It was introduced in SwaggerUI in version 3.23.0, but pyramid_openapi3 supports only version 3.17.1.

Here is issue from SwaggerUI repo: https://github.com/swagger-api/swagger-ui/issues/2651

Any plans to upgrade to latest version of SwaggerUI?

[2020-05-25 09:34] zupo commented on #77
The `add_explorer_view` allows you to pass `ui_version` to get an arbitrary version of Swagger UI. Have you tried this yet?

Additionally, I am not aware of any blockers that would prevent us from upgrading. Could you submit a PR that bumps the default [`ui_version`](https://github.com/Pylons/pyramid_openapi3/blob/fe9eda167b3e1f856f72c69af2fba8411a7b0ce7/pyramid_openapi3/__init__.py#L101) to a mor

[2020-05-25 10:08] iustitia commented on #77
Oh, I haven't noticed that, awesome :)
Maybe that could be mentioned on the Readme? I can do pull request for both.

[2020-05-25 10:08] #77 closed

[2020-05-26 06:20] huntcsg opened #78 "openapi_core>0.13.3 (current master) is incompatible with `webob.EnvironHeaders`"
In a [recent commit](https://github.com/p1c2u/openapi-core/commit/ac5c6762d83aea911fcc6c3bc775f432532a287d), [PR](https://github.com/p1c2u/openapi-core/pull/236) in `openapi_core` a werkzeug headers class was introduced into the `openapi_core.validation.request.datatypes.RequestParameters ` initialization.

This causes a failure in header processing.

A minimal test case is here: https://github.co

[2020-05-26 06:41] huntcsg commented on #78
The above PR fails a number of tests and I'm not sure if this is the right way to make this library compatible with the werkzeug change on the master branch of openapi_core.

I'm happy to accept some input an prepare a more appropriate fix/tests.

[2020-05-26 08:21] zupo commented on #78
Hey @huntcsg, thanks for a great bug report, they don't come in any better way than with a failing test!

I have almost zero availability for the next two weeks so won't be able to look into this before June ~10. That said, I am very much happy to review any and all PRs!

[2020-05-27 19:20] ztane commented on #74
@zupo an employee had updated pyramid_openapi3 but there was no minimum for `openapi-core` so it hadn't been updated at all and was no longer compatible, and then when you take the *highest* version and it does not work either, then one needs to do quite a lot needless bisecting...

[2020-05-27 19:34] zupo commented on #74
@ztane what bug are they hitting? I have a (smaller) project running latest `pyramid_openapi3` and `openapi-core` without problems, which would be impossible if `openapi-core` would be pinned to not-latest in `setup.py`.

[2020-05-27 19:37] zupo commented on #74
Ah I just realized you are talking about minimum versions, not maximum versions! I'm +1 for adding minimum openapi-api version as a requirement in setup.py.

[2020-06-16 14:48] MatthewWilkes commented on #45
[code]

[2020-06-16 17:17] zupo commented on #45
3. sounds best to me.

[2020-06-17 14:07] simondale00 opened #81 "Custom formatters no longer work with openapi-core==0.13.3"
It looks like `pyramid_openapi3` attempts to set `custom_formatters` as a standard argument:

https://github.com/Pylons/pyramid_openapi3/blob/master/pyramid_openapi3/__init__.py#L176

However, this value is a _keyword argument_, and it's position was changed in `openapi-core==0.13.3`:

https://github.com/p1c2u/openapi-core/blob/master/openapi_core/validation/validators.py#L9

### Steps to reproduc

[2020-06-19 15:44] mmerickel opened #83 "validate path-level parameters earlier in the request lifecycle"
Ok firstly, it is correct and awesome for pyramid_openapi3 to let you defer things all the way down to there by default. That level of control is great.

However, I'd like to opt-into the ability to have the schema validated in the ingress of the tween when I've decided to structure my app in that way. This would be more similar to pyramid_swagger I think.

The reason is that in OpenAPI you can sp

[2020-06-21 08:48] #81 closed

[2020-06-21 09:08] zupo commented on #78
Can't reproduce: https://github.com/Pylons/pyramid_openapi3/pull/79#issuecomment-647101433

[2020-06-21 09:08] #78 closed

[2020-06-21 09:10] zupo commented on #49
#68 and #80 help with minimizing the problem, and we have further work planned in #22, so I'm closing this one.

Please re-open if anyone feels this issue needs further attention.

[2020-06-21 09:10] #49 closed

[2020-06-21 10:18] #74 closed

[2020-06-21 10:22] zupo commented on #83
Sounds reasonable, yes.

[2020-06-21 13:39] davisagli commented on #49
Thanks everyone!

[2020-07-27 15:14] sjiekak opened #87 "pyramid_openapi3 incompatible with openapi-core 0.13.4"
openapi-core introduced what I would consider a breaking change from 0.13.3 to 0.13.4.
The commit https://github.com/p1c2u/openapi-core/commit/ac5c6762d83aea911fcc6c3bc775f432532a287d
which fixes https://github.com/p1c2u/openapi-core/issues/234

require to change how the request parameters are provided (see https://github.com/Pylons/pyramid_openapi3/blob/752299f56ec4e88f53d64b348b2ada231b3378ae/py

[2020-07-27 20:28] zupo commented on #87
Thanks for the nice bug report!

[2020-07-31 13:49] abuzakaria commented on #78
This error occurs for `openapi-core==0.13.4`. After I downgraded to `0.13.3`, everything works.

[2020-08-03 20:02] zupo commented on #87
Superseded by https://github.com/Pylons/pyramid_openapi3/pull/89.

[2020-08-03 20:02] #87 closed

[2020-08-04 07:17] sjiekak commented on #87
@zupo thanks

[2020-08-13 13:58] damonhook opened #90 "Ability to toggle request/response validation independently"
# Proposal

We would greatly appreciate the ability to disable response validation, without losing request validation (for certain environments). `pyramid_swagger` achieves this by allowing you to set 2 settings into your `config.registry.settings`, both of which are defaulted to `true`.

Example ini paste (which for us differs depending on environment):
[code]

# Justification

For larger API res

[2020-08-14 07:29] zupo commented on #90
Sounds great!

[2020-08-15 04:08] #90 closed

[2020-08-17 07:43] damonhook commented on #27
If you are interested in writing documentation in .md, [mkdocs](https://www.mkdocs.org/) might be a good alternative.

[2020-08-17 09:15] stevepiercy commented on #27
@damonhook does mkdocs run Python tests? I found it limiting.

@zupo have a look at [MyST](https://myst-parser.readthedocs.io/en/latest/index.html). According to its docs, you can write markdown and do everything that you can do with reST in Sphinx. @pauleveritt is a fan.

[2020-08-17 09:34] damonhook commented on #27
At base no, but mkdocs relies heavily on extensions and plugins to get these kinds of functionality.

While I have used recommonmark before, I have not seen MyST before. It does looks really promising.

[2020-08-17 11:40] zupo commented on #27
@stevepiercy: MyST is exactly what I had in mind, thanks for the link!

[2020-08-17 12:14] damonhook opened #93 "Ability to use $ref to external files"
A feature introduced in OpenApi3 is the ability to use `$ref` links to external files (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#reference-object).

Example:
[code]

openapi-spec-validator allows you to do this by passing `spec_url` to it (https://github.com/p1c2u/openapi-spec-validator#examples)

[code]

2 issues arrise:
- `spec_url` must be an absolute file URL (

[2020-08-20 12:19] damonhook commented on #93
On the topic of why adding it to the same directive as the existing, single file, one (with a boolean parameter to enable):

While most of the code would work fine with it, one oddity that would arise, is that the default `route` is `openapi.yaml`.
This would mean that when you create a static view with said default you would get `/openapi.yaml/openapi.yaml` (which doesn't break, it is just not id

[2020-08-31 13:34] damonhook commented on #93
I have extended onto the PoC to make it a full PR now

[2020-09-02 06:49] #93 closed

[2020-10-26 20:15] #21 closed

[2020-10-27 20:52] zupo commented on #15
I think this is no longer needed. Pls tell me otherwise if you think so.

[2020-10-27 20:52] #15 closed

[2020-10-30 15:14] damonhook opened #100 "Endpoint validation not working with pyramid route_prefix_context"
# Overview

pyramid gives you the ability to define your routes inside a route prefix context ([docs](https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/urldispatch.html#using-a-route-prefix-to-compose-applications)). However, when you do this it fails the endpoint validation. This is because pyramid's route prefix context removed leading slashes.

# Example

Given the API spec

[code]

[2020-10-30 16:36] #100 closed

[2020-11-10 16:29] sayanarijit commented on #10
Should we make `add_spec_view` auto-detect the file extension and serve the spec in that format?

e.g.

This will serve YAML spec:

[code]

This will serve JSON spec:

[code]

Also, I'm inclining towards defaulting `route` to `/openapi.json` regardless of the `filepath` format. Because that spec will mostly be read by programs/non-human entities. For humans, there is a UI based explorer.

[2020-12-12 20:24] zupo commented on #22
I've drafted how I want the "API" for this functionality to look & feel: https://github.com/Pylons/pyramid_openapi3/pull/103

Instead of requiring the `openapi_responses.yaml` file, I opted for sane defaults that can be overridden. In the case of the `openapi_responses.yaml` provided above, the configuration would look like this:

[code]

It's not ideal to not be able to support `endpoint_validati

[2020-12-18 09:23] mmerickel opened #104 "endpoint validation completely fails if the app is mounted at a subpath"
I have an `openapi.yaml` defined with endpoints like `/foo`, `/bar`, etc. I then invoke

[code]

and I mount my routes at `/api/foo`, `/api/bar`, etc. There doesn't seem to be a way to coordinate these such that everyone is happy because pyramid_openapi3 is expecting the api document paths to be relative to the root of the application and there's no way to tell pyramid_openapi3 that I'm actually m

[2020-12-18 09:30] mmerickel opened #105 "when mounting the entire pyramid application at a subpath it's difficult to coordinate that with the api explorer"
The api explorer is great but it is not dealing with server urls well.

Let's say I have a document like

[code]

This document is effectively indicating that `/api/init-app` is an endpoint. Now if I mount my Pyramid application at `/prefix` (wsgi script_name) then I expect the api explorer and yaml file to be updated to reflect this situation.... for example the server url would be `/prefix/api`

[2020-12-18 10:22] zupo commented on #105
I think this is the correct approach? Looking from the API consumer/user perspective, I don't care what the backend configuration is, I expect the API to be at the exact URL given in the `openapi.yaml` file.

Or am I misunderstanding what you are trying to say?

[2020-12-18 14:36] mmerickel commented on #105
Well other than these issues I've opened, my entire codebase is agnostic to the location in which it's deployed and as I stated here the api explorer/yaml are unusable by apps in its current form and in #104 it's unable to validate the api endpoints relative to the app.

[2020-12-18 14:59] zupo commented on #105
Does anything on https://swagger.io/docs/specification/api-host-and-base-path/ help? I'm eager to support your use case as long as we play by the OpenAPI specification rules.

[2021-02-03 09:37] Wim-De-Clercq opened #107 "Should regexes in path params be automatically removed?"
Failing test here: https://github.com/Wim-De-Clercq/pyramid_openapi3/commit/e15ebc369197c5b2dc0523b153ff6bcab040b426

We can't add the regex definitions because openapi doesn't support them. Neither is there really a need for this, because the Openapi schema works fine as it is in the test.

The problem is that to guarantee correct routing within pyramid we need to:
**A.** Either not use regexes i

[2021-02-03 09:47] zupo commented on #107
Should we instead raise an error in pyramid_openapi if we come up against a regex in view path? I'm a big afraid of silently removing parts of the path, I prefer to be specific with an error saying "Hey, regex paths are not supported in OpenAPIv3 but you gave me a path with regex so I don't know what to do here, please fix".

[2021-02-17 16:15] mlandry8 opened #113 "ImportError after openapi-core version upgrade"
My team was having issues running our application when one of the dependencies of this module was automatically upgraded.

`openapi-core 0.13.6 --> openapi-core  0.13.7`

[code]

Adding `openapi-core` to our own requirements and pinning it to `0.13.6` seemed to solve the issue.

https://github.com/Pylons/pyramid_openapi3/blob/9c40f565de350f0968fc727472c9dd113a10986a/setup.py#L71

[2021-02-17 16:21] Vk24-hash commented on #23
Hey @zupo I am new open source contributing, can I give this one a try?

[2021-02-17 16:43] zupo commented on #23
@Vk24-hash: sure thing! Let me know if you need help.

[2021-02-17 16:44] zupo commented on #113
Thank for the report, I'll take a look.

[2021-02-17 19:23] zupo commented on #113
Hey @mlandry8, I've ]updated the developer environment to the latest releases](https://github.com/Pylons/pyramid_openapi3/pull/114), including [`openapi-core 0.13.7`](https://github.com/Pylons/pyramid_openapi3/pull/114/files#diff-a86c67a0a29ed0e95909b9b7c420140f302d17399ee6dcce4e1a51a14d27fd51R100) and I don't see the error above, [all tests are green](https://app.circleci.com/pipelines/github/Pyl

[2021-02-17 19:29] mlandry8 commented on #113
@zupo Sorry, the application involved is private. Maybe I can try and reproduce it from scratch later on. Which version of jsonschema do you have in your virtualenv?

[2021-02-17 20:07] zupo commented on #113
All versions are pinned in https://github.com/Pylons/pyramid_openapi3/blob/master/Pipfile.lock.

[2021-02-18 12:43] Vk24-hash commented on #23
Thanks, actually I was searching that where am I supposed to make changes
in the code, because the issue is of pyramid_openapi3 repo and the custom
renderer link provided by you is from real-world-example-app repository.
But it shows that the code is integrated with pyramid_openapi3.

Also if changes are to be made in the given link should I just completely
replace the JSON renderer with pyramid_s

[2021-02-18 14:56] zupo commented on #23
The idea is to ship pyramid_openapi3 with a custom JSON renderer, so that applications using pyramid_openapi3 (for example, the real-world-example-app) do not need to come up with their own custom JSON renderer -- they just use what pyramid_openapi3 provides.

[2021-02-18 16:03] Vk24-hash commented on #23
okay and  just completely replace the JSON renderer with pyramid_swagger
renderer ?

On Thu, Feb 18, 2021 at 8:27 PM Nejc Zupan <notifications@github.com> wrote:

[2021-02-18 19:50] zupo commented on #23
I suppose, yes. I cannot know until I see it in action.

[2021-02-21 17:21] Vk24-hash commented on #23
hey I tried doing some changes with the renderer don't know if it is right
at all, please help me out.

On Fri, Feb 19, 2021 at 1:20 AM Nejc Zupan <notifications@github.com> wrote:

[2021-02-22 12:29] stevepiercy opened #115 "Support Python 3.9?"
Would you like a PR that adds support for Python 3.9?

[2021-02-22 16:55] zupo commented on #115
Yes please :)

[2021-02-22 17:04] zupo commented on #23
Where are the changes?

[2021-02-22 18:20] Vk24-hash commented on #23
I did some changes in the pyramid-real-world-example but it failed to pass
the tests

On Mon, Feb 22, 2021 at 10:35 PM Nejc Zupan <notifications@github.com>
wrote:

[2021-02-22 19:21] zupo commented on #23
Ah yes, now I remember. The changes should be done here in this repo.

And yes, tests need to pass before the PR can be merged :)

[2021-02-22 19:29] Vk24-hash commented on #23
So where should I make the changes ?

On Tue, 23 Feb 2021, 00:52 Nejc Zupan, <notifications@github.com> wrote:

[2021-02-22 19:35] zupo commented on #23
I haven't thought this through so this is coming from the top of my head: it seems it makes sense to have a `renderers.py` file in https://github.com/Pylons/pyramid_openapi3/blob/master/pyramid_openapi3/.

[2021-02-23 10:26] #115 closed

[2021-02-23 10:26] zupo commented on #113
@mlandry8: is this still an issue?

[2021-02-23 10:35] stevepiercy commented on #27
@zupo I've got an itch to scratch for trying out MyST and writing docs for pyramid_openapi3, as I run through the sample apps. Do you have an outline for docs or a brain dump of topics that you would include? The readme is fairly comprehensive and I don't see anything obvious missing, except a reference to auth. I could do the heavy lifting if you point me in the direction you'd like to see this g

[2021-02-23 11:37] zupo commented on #27
Oh wow, that would be great!

I don't have strong opinions. I've tried to start writing docs myself in the past and couldn't really decide where to start because almost everything is already in Readme. That said, some advanced techniques/featuers/tricks are not in Readme. So maybe a simple "howto" section followed by "advanced features"?

[2021-02-23 11:45] stevepiercy commented on #27
OK, that sounds good to me. A pyramid_openapi3 cookbook!

I would like to avoid duplication of the readme to reduce maintenance. IMO a readme should be minimalist, directing the audience to where they should go for more information. Do you have a strong opinion about what should remain in the readme?

[2021-02-23 12:56] ztane opened #117 "Reconsider API spec autogeneration"
This is a controversial thing and I am playing the devil's advocate but I've seen a great push towards FastAPI from Pyramid or sidelining Pyramid completely at our clients, connections and partners *just because* FastAPI seemingly makes it easier to evolve the API design rapidly with code. Everyone who is actually evolving the API is complaining about having to do the changes twice or thrice to th

[2021-02-23 13:14] zupo commented on #27
* https://github.com/Pylons/pyramid_openapi3#advanced-configuration should go out and into docs
* https://github.com/Pylons/pyramid_openapi3#demo--examples could probably be rewritten with more narrative text around the code samples, as chapters in the docs
* https://github.com/Pylons/pyramid_openapi3#design-defense can go out and into docs too
* https://github.com/Pylons/pyramid_openapi3#design-d

[2021-02-23 13:21] zupo commented on #117
How other languages solve this is the other way around -> generate code from API spec.

Concrete example how we do it for the Elm frontend using https://app.kafkai.com/api/v1:
* have a Makefile command that generates the APi connector code, i.e. `make openapi`
* run this command in CI and fail if there are changes -> to catch "whoops I forgot to re-generate the code" errors
* the command is someth

[2021-02-23 13:45] damonhook commented on #22
There are 2 cases covered by the OpenApi specification that I just wanted to bring to light here (and maybe discuss whether they should be handled, or just documented as edge cases in the readme / upcoming docs):

1. The response HTTP code is actually a patterned field ([docs](https://swagger.io/docs/specification/describing-responses/)). For example, you could have a `4XX` response key, which wil

[2021-02-23 15:13] damonhook commented on #22
One option would be to test it ourself.

Another possibility may be to leverage openapi-core for it: If you call the `.get_response(self, http_status)` function for each required response on each operation. It will throw an exception if it cannot find a matching path in the spec ([source](https://github.com/p1c2u/openapi-core/blob/f2b5bbe1f3b8ab932285e7f9f11effcfe6b06833/openapi_core/schema/operat

[2021-02-23 18:37] zupo commented on #22
Fantastic insights, thanks!

[2021-02-23 22:35] mlandry8 commented on #113
@zupo I haven't had time to investigate further. We solved it locally by pinning `open-api-core`. I can try this weekend possibly.

[2021-02-25 15:24] Vk24-hash commented on #23
So am I supposed to make a file, because I have no idea where to start and
what's the output of the project, if I am supposed to make one pls guide
me, or should I just wait.

On Tue, 23 Feb 2021, 01:05 Nejc Zupan, <notifications@github.com> wrote:

[2021-02-25 16:27] zupo commented on #23
Maybe a good approach is to familiarize youself with Pyramid, this tutorial is good: https://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tutorial/

[2021-02-25 23:57] stevepiercy commented on #23
The Quick Tutorial is good for learning concepts in Pyramid. For a realistic application, I would point you to the [wiki tutorial](https://docs.pylonsproject.org/projects/pyramid/en/latest/tutorials/wiki2/index.html), which implements the concepts learned in the Quick Tutorial using best practices.

[2021-02-26 04:43] Vk24-hash commented on #23
Okay, I'll check it out.

On Fri, 26 Feb 2021, 05:27 Steve Piercy, <notifications@github.com> wrote:

[2021-03-08 18:42] afreepenguin opened #119 "Open up explorer to non logged in users."
Is there a way to open up the explorer view so that NO_PERMISSION_REQUIRED can be applied. Saw something in the changelog that seemed to indicate it's possible but wasn't able to find any documentation.

[2021-03-10 14:15] zupo commented on #117
I am parsing/dumping YAML in another project with https://github.com/Fatal1ty/mashumaro, and I like it a ton. If we go down the generation path, this library seems like a good avenue of research.

[2021-03-10 14:17] zupo commented on #113
@mlandry8 any update on this?

[2021-03-10 20:34] afreepenguin commented on #119
Can't seem to get it working when using AuthTktAuthenticationPolicy. The only way I can see to get around it is by modifying unauthenticated_userid function within AuthTktAuthenticationPolicy and checking to see if the path being requested matches the API explorer then setting some temporary authenticated user. Would be nice if I could pass NO_PERMISSION_REQUIRED to the pyramid_openapi3_add_explor

[2021-03-10 20:53] zupo commented on #119
Ah OK, that explains it, as I usually use https://github.com/wichert/pyramid_jwt for authentication on pyramid apps that provide a REST API.

Could you create a PR that add this? Along with a test.

[2021-03-10 21:23] afreepenguin commented on #119
Started looking into the code and realized the latest version here actually addresses this, I was on an older version. Appears to be working as expected, I will close this. Thanks.

[2021-03-10 21:23] #119 closed

[2021-03-22 17:04] Wim-De-Clercq opened #122 "Multipart requests can't be validated."
openapi-core does not have a multipart deserializer by default.

So.
- Either it should be documented that only json bodies work.
- Either you can add one here to deal with that
https://github.com/Pylons/pyramid_openapi3/blob/23b78bc7aca95d4cc4eb44e4e3f744f143b7d4ed/pyramid_openapi3/__init__.py#L221-L223
with the `custom_media_type_deserializers` parameter.

- However, deserializing multipart is n

[2021-04-15 06:20] sevanteri opened #126 "Race condition with the validator base_urls"
Commit 4e485f1dc2eb1a74488e86faf46c20b6141676cf adds `request.application_url` into the **global** `settings` on every request. This causes a race condition with concurrent requests flooding in.

[2021-04-15 08:08] zupo commented on #126
Hmm, I see, good find, thanks for the report.

Do you possibly have any time to work on a fix?

[2021-04-15 09:30] sevanteri commented on #126
I'm wondering if the relative servers are actually now handled correctly in openapi-core.
https://github.com/p1c2u/openapi-core/blob/master/openapi_core/templating/paths/finders.py#L78-L80

[2021-04-16 06:35] #126 closed

[2021-04-16 07:26] zupo commented on #126
Fixed in https://github.com/Pylons/pyramid_openapi3/pull/127.

[2021-05-08 10:01] BoomerB opened #129 "No module named 'openapi_core.schema.exceptions'"
File "/usr/local/lib/python3.8/site-packages/pyramid/config/__init__.py", line 632, in include
    c = self.maybe_dotted(callable)
  File "/usr/local/lib/python3.8/site-packages/pyramid/config/__init__.py", line 740, in maybe_dotted
    return self.name_resolver.maybe_resolve(dotted)
  File "/usr/local/lib/python3.8/site-packages/pyramid/path.py", line 327, in maybe_resolve
    return self._resolv

[2021-05-08 10:16] BoomerB commented on #129
quick fix

/usr/local/lib/python3.8/site-packages/pyramid_openapi3> diff -u exceptions.py-orig exceptions.py
--- exceptions.py-orig  2021-05-08 11:36:52.303272870 +0200
+++ exceptions.py       2021-05-08 12:03:14.760813652 +0200
@@ -1,6 +1,6 @@
 """Exceptions used in pyramid_openapi3."""

-from openapi_core.schema.exceptions import OpenAPIError
+from openapi_core.exceptions import OpenAPIError
 fr

[2021-05-09 12:01] #83 closed

[2021-05-11 12:44] damonhook commented on #129
The `exceptions` were moved as part of the 0.14.0 release of openapi-core (see [release](https://github.com/p1c2u/openapi-core/releases/tag/0.14.0)).

Currently pyramid_openapi3 supports openapi-core 0.13.7 (see [Pipfile.lock](https://github.com/Pylons/pyramid_openapi3/blob/master/Pipfile.lock#L93) and [Readme](https://github.com/Pylons/pyramid_openapi3#deprecation-policy))

---

Looks like a some

[2021-05-13 01:13] garyburgmann commented on #129
`setup.py` does not pin the minor version:

[code]

just explicitly add the package to your `requirements.txt` (or similar) as `openapi-core>=0.13.4,<0.14`

[2021-05-14 21:34] andrewfree opened #130 "Possible to have multiple versions?"
Looking at this line, is it possible for an app to have multiple API versions? I've been able to manage multiple versions of an endpoint using path variables like /api/v{version} but not sure if the API from pyramid_openapi perspective can have multiple versions listed in the explorer in some way?

`config.pyramid_openapi3_spec_directory('path/to/openapi.yaml', route='/api/v1/spec')`

Thanks

[2021-05-16 19:26] zupo commented on #122
The proposal seems fine to me. Can you possibly prepare a PR with a test?

[2021-05-16 21:25] #129 closed

[2021-05-18 11:11] zupo opened #136 "Broken tests in master"
Sometimes, `make unit` tests are run in a certain order that make three of them fail. To reproduce this particular order locally, run this: `make unit args="--randomly-seed=12988384"`.

The above command fails locally for me on Python 3.8 and Python 3.9. Same on CI.

The culprit seems to be moving validation to an earlier point in https://github.com/Pylons/pyramid_openapi3/commit/84b459ffa44f453e8

[2021-05-18 11:15] zupo commented on #136
Also see https://github.com/Pylons/pyramid_openapi3/pull/132#issuecomment-843080062

[2021-05-18 14:38] gjo commented on #136
I think that the global variable `pyramid_openapi3.APIS` has a bad side effect in multiple instantiation environments like testing.

https://github.com/gjo/pyramid_openapi3/commit/ead104daa847e09e7a1e013c62e90ec007516166

[2021-05-18 14:45] gjo commented on #136
This variable has been introduced on https://github.com/Pylons/pyramid_openapi3/commit/65351ea86356e5214f02fb28d17b2ade0ba628a2

[2021-05-18 20:18] zupo commented on #136
@sweh: ^^

[2021-05-18 20:19] zupo commented on #136
@gjo: the changes in your branch look good to me, care to make a PR?

[2021-05-18 20:26] sweh commented on #136
I'm not a big fan of that global variable. Any idea how we can improve this?

[2021-05-19 12:50] gjo commented on #136
I will try to finish it in next weekend.

[2021-05-22 19:23] daryllstrauss opened #137 "Problem with openapi-core dependency"
When I pip install pyramid-openapi3, openapi-core version 0.14.2 gets installed. The version causes an error with finding exceptions.

- docker run --rm -it fedora:34 bash
- pip install pyramid-openapi3
- pip freeze | grep openapi

openapi-core==0.14.2
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
pyramid-openapi3==0.11

The setup.py requires 'openapi>=0.13.4,<0.14'. I then explici

[2021-05-22 19:45] stevepiercy commented on #137
Yes. 0.11 is the latest release on 2021-02-15.
https://pypi.org/project/pyramid-openapi3/#history

This PR merged on 2021-05-16 has not been released to PyPI.
https://github.com/Pylons/pyramid_openapi3/pull/131/files

[2021-05-23 09:17] zupo commented on #137
What @stevepiercy said. I'm waiting for https://github.com/Pylons/pyramid_openapi3/issues/136 to get resolved before I cut a new release.

[2021-05-23 09:17] #137 closed

[2021-05-24 22:03] #136 closed

[2021-06-04 08:40] afreepenguin opened #140 "Validation for different API versions."
I noticed you can have multiple API explorers for different versions. However, it isn't clear to me how I can still use  openapi=True in the view config and pick what version it validates against?

[code]

[2021-06-04 08:40] #130 closed

[2021-06-04 15:54] zupo commented on #130
Have you found a solution for this?

[2021-06-04 15:55] zupo commented on #140
I don't think we have first-class support for multiple API versions, sorry.

[2021-06-06 19:47] zupo commented on #122
Done in https://github.com/Pylons/pyramid_openapi3/pull/132.

[2021-06-06 19:47] #122 closed

[2021-06-09 12:11] zupo commented on #122
Released in https://pypi.org/project/pyramid-openapi3/0.12/.

[2021-06-09 12:11] zupo commented on #46
Initial implementation released in https://pypi.org/project/pyramid-openapi3/0.12/.

[2021-06-09 12:12] zupo commented on #115
Released in https://pypi.org/project/pyramid-openapi3/0.12/.

[2021-06-09 12:12] zupo commented on #129
Fixed in https://pypi.org/project/pyramid-openapi3/0.12/.

[2021-06-24 13:09] karolpawlowski opened #144 "Links feature"
Hey Guys,

OpenAPI has something like `links` https://swagger.io/docs/specification/links/

But for me they don't seem to be generated properly:
![Screenshot 2021-06-24 at 15 05 01](https://user-images.githubusercontent.com/2912430/123267670-8ea62680-d4fd-11eb-8e35-83386af8d604.png)
![Screenshot 2021-06-24 at 15 05 43](https://user-images.githubusercontent.com/2912430/123267785-ad0c2200-d4fd-11eb-

[2021-06-25 17:29] zupo commented on #144
Hey @karolpawlowski!

This package does not do any generation, it only verifies requests & responses. So you'll have to add the links to responses yourself, in your code.

[2021-06-29 06:31] potkae opened #145 "Allow registering multiple apis in a single pyramid app when the spec is directory"
Pull request #111 implemented registering multiple apis in a single pyramid app when the spec is a single file. However it did not take into account having the same functionalities in `pyramid_openapi3_spec_directory`. It would be consistent to support the same functionalities for spec directories as well.

[2021-06-29 06:46] zupo commented on #145
@sweh: do you have any free time during summer to work on this? No rush.

[2021-06-29 07:11] sweh commented on #145
@zupo: Assign it to me, I'll look into this in the coming days.

[2021-06-29 12:34] Wim-De-Clercq opened #146 "pyramid_openapi3 messes up routes when the server prefix matches"
openapi.yaml:
[code]
pyramid config:
[code]
(along with this config to deal with the prefix on the server)
[code]

This code
https://github.com/Pylons/pyramid_openapi3/blob/2904c34b9445069f49794da33ec6c164126dddb3/pyramid_openapi3/__init__.py#L371-L377

Will remove the `/v` from `/version` and then complain that route "/version" is missing even though it is clearly present in the code.

[2021-06-29 13:05] zupo commented on #146
Huh, I've personally never used `paste_prefix` before so don't have any intuition into what could be wrong.

Can you provide a minimal runnable example that exercises this bug? Ideally as a fork of this repo and add it to the `examples/` folder, so we can run it in CI from now on and make sure prefixes keep working.

[2021-06-30 05:56] zupo commented on #146
What exactly is `that` in this sentence?

[2021-06-30 07:33] Wim-De-Clercq commented on #146
Any of the `url` examples from openapi.yaml.

[2021-06-30 07:54] zupo commented on #146
I often use the following:

[code]

See https://github.com/niteoweb/pyramid-realworld-example-app/blob/master/src/conduit/openapi.yaml#L625

[2021-07-07 15:35] karolpawlowski commented on #144
Thanks @zupo !

[2021-07-07 15:35] #144 closed

[2021-08-02 13:41] karolpawlowski opened #148 "Swagger UI: array after deleting all elements remains in the request"
1. I have an array[integer] parameter.
2. When I don't set any values it doesn't appear in the request.

![Screenshot 2021-08-02 at 15 32 09](https://user-images.githubusercontent.com/2912430/127870492-f6b3c00a-fa8d-4548-bc2e-5e8829f612b9.png)
![Screenshot 2021-08-02 at 15 34 05](https://user-images.githubusercontent.com/2912430/127870579-0df4677f-d921-42ea-8979-fe2655af54d3.png)

3. When I added

[2021-08-03 08:16] zupo commented on #148
This looks like a bug with Swagger UI and not with pyramid_openapi. Please report at https://github.com/swagger-api/swagger-ui.

[2021-08-03 08:16] #148 closed

[2021-08-08 12:08] BoomerB opened #149 "settings not found"
pyramid_openapi3 0.13

add_spec_view and add_spec_view_directory register settings under different names.
check_all_routes terminates with "settings not found" when specs are loaded with add_spec_view_directory

is this on purpose or am I missing something?

[2021-08-08 12:32] zupo commented on #149
Can you share your code please?

[2021-08-08 19:03] BoomerB commented on #149
[code]

[2021-08-08 19:32] BoomerB commented on #149
the code I'm referring to is in https://github.com/Pylons/pyramid_openapi3/blob/master/pyramid_openapi3/__init__.py

[code]
settings for "pyramid_openapi3" and defaults for "pyramid_openapi3_apinames"

[code]
settings for "pyramid_openapi3" but nothing for "pyramid_openapi3_apinames"

[code]
checking for "pyramid_openapi3_apinames"

[2021-08-08 21:52] zupo commented on #149
@gjo: any ideas?

[2021-08-09 07:56] potkae commented on #145
Any news on this? Have you had time to take a look?

[2021-08-10 08:04] damonhook commented on #149
When the supporting multi-api's was added, it looks as if support was only added to the `add_spec_view` function, and not to the `add_spec_view_directory`.

More specifically, there are the following differences between the directory and non-directory functions:

- Directory function always uses `pyramid_openapi3` for settings (no option to define a different `apiname`)
- Directory function does n

[2021-08-10 08:16] zupo commented on #149
Fantastic! ❤️

[2021-08-10 12:19] damonhook commented on #145
I have a PR fo issue #149 that should handle this issue as well

[2021-08-10 12:48] #145 closed

[2021-08-18 11:44] damonhook opened #152 "Swagger UI (Explorer) is attempting to run external validation (fails when spec file is not public)"
By default Swagger UI will attempt to run its own validation on the spec. However, since this validation runs externally and not in your pyramid service, if your OpenApi spec is not publicly accessible then it will fail their validation.

On the version of Swagger UI that we are currently using (3.17.1), you may not notice the failure (since the "invalid" badge does not show), however, you can see

[2021-08-18 15:12] zupo commented on #152
+1 for disabling

[2021-08-18 20:05] #152 closed

[2021-09-08 07:05] atronah opened #154 "`renderer="json"` for exception view looks needless"
I don't understand what is the purpose of using `renderer="json"` argument in [that code](
https://github.com/Pylons/pyramid_openapi3/blob/54b5c785669574787a55e7717ba4d1885c3653ce/pyramid_openapi3/__init__.py#L59):

[code]

`openapi_validation_error` returns `Response` object and if I understand correctly, in that case renderers are [avoided by Pyramid handlers](https://docs.pylonsproject.org/proj

[2021-09-08 11:36] zupo commented on #154
From the top of my head: no idea.

Did you try removing the `rendered="json"` and seeing what happens?

[2021-09-15 14:40] zupo opened #155 "Pagination"
@miohtama asked me if I have any examples of how to do pagination with pyramid_openapi3.

I don't, but I have some private code that I could potentially share. Ideally, this would be added to README, or be made in to a tutorial. But until this time, let's at least have some information about pagination in this ticket here.

So, firstly, we have this in kafkai.com's [openapi.yaml](https://app.kafka

[2021-09-23 10:36] miohtama opened #156 "WooCart example link down"
The example link in README does not work

<img width="1732" alt="image" src="https://user-images.githubusercontent.com/49922/134493043-894647fa-3463-4910-8230-fcef34611bb0.png">

[2021-09-23 13:14] zupo commented on #156
Thanks!

Fixed in https://github.com/Pylons/pyramid_openapi3/commit/51fc7fa0d4265bf477d3de06c2c76a3bfafafe64.

[2021-09-23 13:14] #156 closed

[2021-09-23 15:45] miohtama opened #157 "Installation error with Poetry: No module named virtualenv.activation.nushell"
I am trying to add `pyramid_openapi3` to my project as a dependency using Poetry.

I am getting

[code]

Not yet sure what kind of a dependency error this is.

Python 3.8.5.

[2021-09-23 15:49] miohtama commented on #157
The root issue https://github.com/python-poetry/poetry/issues/4515

[2021-09-23 15:51] miohtama commented on #157
Fixed in the latest Poetry - you can update it with `poetry self update`

[2021-09-23 15:51] #157 closed

[2021-10-01 16:13] bushkov opened #159 "$ref overwrites `nullable` property"
If a property is defined via a `$ref` and it's `nullable` set to `True`, then this nullable will be ignored.

If you take an example from the [TODO app](https://github.com/Pylons/pyramid_openapi3/tree/master/examples/todoapp), make a `title` nullable:
[code]
and modify `ITEMS` in `app.py` to contain an item with `null` property:
[code]
Then everything works fine.

However, if we define `title` via

[2021-10-01 21:19] zupo commented on #159
Thanks for the bug report!

What changed since yesterday? Did some dependency get upgraded? This looks like it might be a bug in https://github.com/p1c2u/openapi-core (that pyramid_openapi3 depends on).

[2021-10-02 07:52] bushkov commented on #159
That's the mystery for us, since no packages that we explicitly use have been updated since the last couple of days. Might be one of the implicit dependencies of those packages.`

On our side https://github.com/p1c2u/openapi-core is frozen to version 0.13.8, because one of the dependencies requires version of openapi-core to be < 0.14. So at least openapi-core remained the same on our side.

On ou

[2021-10-02 13:36] bushkov commented on #159
It seems the offending implicit dependency package that causes this issue is `jsonschema`. We started having this issue once it was [updated](https://pypi.org/project/jsonschema/4.0.1/#history) from `3.2.0` to `4.0.1`. If we downgrade `jsonschema` back to `3.2.0`, everything works fine.

[2021-10-03 07:23] bushkov commented on #159
I have noticed something which might be related to this issue. We have the following warning from `jsonschema` when using `pyramid_openapi3`:
[code]

And in `openapi-schema-validator`, `iter_errors` [overwrites](https://github.com/p1c2u/openapi-schema-validator/blob/master/openapi_schema_validator/validators.py#L70) `nullable` parameter setting it to `False`.

[2021-11-13 20:05] zupo commented on #159
Hey @bushkov, did you manage to resolve this, or is the issue still there?

[2021-11-15 09:40] bushkov commented on #159
No, the issue is still there.

[2022-01-10 10:05] karolpawlowski opened #160 "__init__() got an unexpected keyword argument 'resolver' in openapi_spec_validator/validators.py when calling pyramid_openapi3_spec"
Hey, I'm trying to build and run my project on M1 device. I'm using docker linux/amd64 image by specifying `FROM --platform=linux/amd64 python:3.8.5-slim` in docker file and everything builds just fine.

But when running the project (with `docker-compose up`), I've got this error:

[code]

I have `pyramid-openapi3==0.13` in my requirements.txt

Any ideas what could be wrong? It was working on inte

[2022-01-10 13:00] zupo commented on #160
To me, this seems like an environment problem, i.e. you had to upgrade your system-wide pip. I'm gonna close this in a few days if noone else reports it.

[2022-02-01 12:32] jvitus commented on #31
Hi there is a code example:

[code]

and the openapi.yaml
[code]

As you can see in the App method
pyramid_openapi3.enable_endpoint_validation= False

If we activate it, pyramid_openapi raise a MissingEndpointsError in  check_all_routes method because we have no route declared in pyramid when use traversal right ?

we can activate pyramid_openapi3.enable_request_validation and pyramid_openapi3.ena

[2022-02-01 13:00] zupo commented on #31
Looks like some work is needed before it works with traversal out-of-the-box, but your examples shows that it should be possible.

[2022-02-07 15:47] zupo commented on #159
The underlying problem seems to have been addressed in `openapi-schema-validator` recently: https://github.com/p1c2u/openapi-schema-validator/issues/22.

[2022-02-12 11:26] jvitus commented on #31
Ok,
I will keep using it for documentation feature.

Thanks for the answer

[2022-05-17 08:23] grinspins opened #165 "openapi_validated side effects"
Factoring `openapi_validated` into  a request method going from 0.11 to 0.12 comes with a few issues. I was wondering whether you would consider going back to the old implementation that set openapi_validated as an attribute on the request and accessing `request.openapi_validated` did not have side effects.
There are two problems that come to mind with the current implementation:

1. Accessing `re

[2022-05-17 14:50] pepijn-motosumo opened #167 "Validating `application/x-www-form-urlencoded` request bodies doesn't work"
I think it's currently not possible to validate `application/x-www-form-urlencoded` request bodies and that it's a bug. I wrote some code in the singlefile example to confirm the issue. See this draft PR: #166. Please read it and/or run it locally.

The main clue of what is going wrong is in this log message: `Value {b'name': b'joe'} not valid for schema of type SchemaType.OBJECT: (<ValidationErro

[2022-05-18 07:51] zupo commented on #167
Hey @pepijn-motosumo, thanks for a great bug report!

Could you please report this upstream to openapi-core and try to get it fixed there? If it doesn't go through, I'll see about adding a workaround in this package.

[2022-05-18 09:45] zupo commented on #165
Hey @grinspins, thanks for taking the time and providing a proper context.

Regarding 1.: to me this seems like a bug and we should raise a more descriptive error when people try to access `request.openapi_validated` on a view that has `view_config(openapi=False)`.

But that would make your proposed use case even harder.

Could you please share some of the reasons to help me understand this use ca

[2022-05-18 11:13] grinspins commented on #165
Thanks for your reply. For the first issue an example I can think of is request parameter unpacking in APIs that have both openapi and non-openapi routes. E.g. something like the following would have worked until 0.11 and break starting in 0.12.
[code]

[2022-05-18 12:01] zupo commented on #165
Ah, OK, this would be sufficiently covered by what I had in mind: raise a more descriptive error when accessing `request.openapi_validated`. `AttributeError` seems an appropriate error.

So, yes, good, we can do this!

[2022-05-18 16:35] coler-j opened #168 "How to return a 204 no content"
How do you return no content for a 204 json response?

[2022-05-19 08:21] zupo commented on #168
I don't have an example handy, sorry.

What have you tried so far?

[2022-05-19 11:12] coler-j commented on #168
It was as simple as setting the code on the response:

[code]

[2022-05-19 11:12] #168 closed

[2022-05-25 15:08] zupo opened #169 "Add more entries to Use in the wild"
I'd like to have more projects linked under https://github.com/Pylons/pyramid_openapi3#use-in-the-wild.

Please let me know if I can list your project!

[2022-05-25 15:11] zupo commented on #169
cc @MatthewWilkes @gweis @damonhook @mmerickel @stevepiercy @gjo @sevanteri @sjiekak @phrfpeixoto @sweh @Wim-De-Clercq @fredvd @daryllstrauss @miohtama @timgates42

[2022-05-25 15:15] zupo commented on #169
cc @pepijn-motosumo @grinspins @karolpawlowski @bushkov @atronah @afreepenguin @ztane @mlandry8 @silenius @coler-j @BoomerB @potkae @andrewfree @simondale00 @huntcsg @iustitia @ghost @davisagli

[2022-05-26 09:50] zupo commented on #154
Closed with https://github.com/Pylons/pyramid_openapi3/pull/171, thanks for reporting @atronah!

[2022-05-26 09:50] #154 closed

[2022-05-26 09:58] #160 closed

[2022-05-26 10:07] zupo commented on #113
I've done another update to dev env (#141), and still don't see this issue. Please reopen if it pops up again.

[2022-05-26 10:07] #113 closed

[2022-05-26 10:08] zupo commented on #107
Hey @Wim-De-Clercq, do you have any further thoughts on this?

[2022-05-26 10:10] zupo commented on #105
Hey @mmerickel, do you have any further thoughts on this?

[2022-05-26 13:50] zupo commented on #140
I was mistaken, we do: https://github.com/Pylons/pyramid_openapi3/pull/111

Maybe @sweh can help answer this.

[2022-05-26 13:51] zupo commented on #140
Based on this test: https://github.com/Pylons/pyramid_openapi3/pull/111/files#diff-224b7fa902e17800662b5478127e7a0778220756db05cb64db263b48260cf280R387

It seems the route dictates what openapi.yaml is used for validation. Which makes a ton of sense!

@afreepenguin: I hope this answer your questions. If not, please let me know.

[2022-05-26 13:51] #140 closed

[2022-05-26 17:12] mmerickel commented on #105
My thought is I’m annoyed that I can’t define the file relative to the request’s `SCRIPT_NAME` like every other route. However to fix it would require passing the file and rendering out a new version of the relative server url. If there isn’t an appetite for that then I can understand. I can do it myself - it’s just one of those things in a weird spot between what wsgi likes and what the spec is f

[2022-05-27 08:01] zupo commented on #105
I see. As long as I am the sole maintainer, I'd like to keep it as is, as static content, because I'm afraid I don't have the bandwidth to support the template approach.

That said, hopefully someday in the future we have more people actively maintaining this lib and we can expand to cover the template approach.

[2022-05-27 12:00] zupo commented on #165
Hey @grinspins, the issue 1. described above should be resolved with this PR: https://github.com/Pylons/pyramid_openapi3/pull/172

Could you take a look please?

[2022-08-02 07:47] bushkov commented on #159
@zupo Any update on this issue? I still get `ValidationError: 'None for not nullable'` for the above example.

[2022-08-02 09:13] zupo commented on #159
As per https://github.com/p1c2u/openapi-schema-validator/issues/22, have you tried using `openapi-schema-validator` version `0.3.0`?

[2022-08-02 09:38] bushkov commented on #159
Yes, I still get the error even with `openapi-schema-validator` version `0.3.0`.

[2022-08-02 12:35] zupo commented on #159
That is indeed strange. I'll try to take a look in the not too distant future. Any help debugging this is greatly appreciated. If you have any additional info, please share. Or even a failing tests that showcases exactly how the thing fails.

[2022-08-02 12:46] bushkov commented on #159
You can use the example with the modified TODO app which I mentioned in my first comment of this issue. If you modify the TODO app following the instructions in the comment and then execute the tests from the TODO app directory, the tests will fail with:
[code]

[2022-09-05 08:33] Wim-De-Clercq opened #173 "Can't run with new `openapi-spec-validator==0.5.0`"
dependency tree on a clean install:
[code]
The error is actually within `openapi-core`
[code]
And this is also fixed in openapi-core 0.14.5
But `pyramid_openapi3` can't work with >= 0.14.0, so you are left with an incompatible library tree on installation.

The only workaround right now is to pin `openapi-spec-validator==0.4.0` when installing pyramid_openapi3.

[2022-09-05 09:05] zupo commented on #173
I can take a look next week if noone beats me to it.

[2022-09-20 17:05] mmerickel opened #174 "provide a way to load the openapi.yaml that doesn't server it at an endpoint"
Due to issues like https://github.com/Pylons/pyramid_openapi3/issues/104 I cannot define a yaml that fully matches the deployment environment so I'd prefer to just not serve the yaml if I can help it. I'd just like it to be used to validate paths, as the yaml defines everything relative to the app's subpath so works across deployments so long as pyramid_openapi3 is using `request.application_url`

[2022-09-21 13:13] zupo commented on #174
Makes sense and also seems like it won't complicate the codebase much, so I'd probably be +1 on a PR to introduce this.

[2022-10-03 14:28] pepijn-motosumo commented on #167
It doesn't seem like upstream considers this a bug ([issue comment](https://github.com/p1c2u/openapi-core/pull/396#issuecomment-1243656333)). I can look into making a PR with the `wrappers.py` solution I mentioned above. Please let me know if you think there's a better way forward.

[2022-10-03 15:15] zupo commented on #167
It looks like I first need to update pyramid_openapi3 to use the new 0.15 release of openapi-core. Then circle back to this one if it's still a problem.

[2022-10-05 15:15] PKgotso opened #175 "provide a way to configure Validation Exceptions to be contextual"
I am looking for a way to add context to RequestValidationError. Instead of it returning the error from being unable to cast to a type, I want to be able to give it the message and append the value.

Eg
Failed to cast `hello` to type integer

Allowing
The number `hello` is not a valid number

I think this will make it extremely reusable. If this is available already, I couldn't find it in the docs

[2022-10-06 10:39] zupo commented on #175
Have you looked at https://github.com/teamniteo/pyramid-realworld-example-app yet? There is some basic error overriding there, might serve as an inspiration for what you are trying to achieve: https://github.com/teamniteo/pyramid-realworld-example-app/blob/master/src/conduit/openapi.py#L71

[2022-10-06 11:54] PKgotso commented on #175
@zupo Thank you for those, however this is not what I mean.

Lets use this: https://github.com/teamniteo/pyramid-realworld-example-app/blob/master/src/conduit/comment/views.py
`@view_config(route_name="comments", renderer="json", request_method="GET", openapi=True)
def comments(request: Request) -> MultipleCommentsResponse:
    """Get recent comments on the given article."""
    article = object_o

[2022-10-06 16:29] zupo commented on #175
Ah I see. Hmm ...

What about custom formatters?
 https://github.com/Pylons/pyramid_openapi3/blob/29f0180a97d9d33cbe65488aee97af8339c120c4/pyramid_openapi3/tests/test_extract_errors.py#L567

[2022-10-06 17:01] zupo commented on #175
Yep, I agree!

[2022-10-07 10:39] Jmennius opened #176 "Explorer UI refers to wrong procol if operated behind referse proxy with HTTPS"
Setup:
* reverse proxy, implements TLS, let's say `https://example.com`
* pyramid app w/ pyramid_openapi3, behind the proxy, HTTP
* pyramid config
[code]

The API explorer UI opens up fine when we request `https://example.com/api/`. but the URL for spec file we get in the top most text box is `http://example.com/api/openapi.yaml` (note `http` instead of `https`).

I've tracked this down to `index.

[2022-10-07 10:57] zupo commented on #176
I'm running on Heroku, with a reverse proxy in front, and it works as expected: https://dash.paretosecurity.com/api/v1

Can you share a bit more about your setup?

[2022-10-07 11:36] zupo commented on #176
Hmm, I'm also using `https://pypi.org/project/pyramid_force_https/`, maybe that makes it work? Could you give it a try?

[2022-10-07 12:30] Jmennius commented on #176
Doesn't work with `pyramid_force_https` at all.
I guess that is because any plain http request it receives it will redirect to https, but with our config (which is pretty common), pyramid only handles plain http, and any redirected https will go back to proxy to be proxied via http to pyramid, essentially creating a loop.

[2022-10-07 17:44] zupo commented on #176
I'm out of ideas, sorry. Happy to review a PR with a fix when you figure it out.

[2022-10-11 08:55] claeyswo commented on #173
Is there any update on this?

[2022-10-11 08:57] zupo commented on #173
No, sorry, haven't had the time to look at it yet, and likely will not be able until next month.

[2022-10-25 20:12] mmerickel opened #178 "support variables in the server config"
[code]

`2022-10-25 14:55:22,889 ERROR [pyramid_openapi3][request=e4deab37-061d-4d3b-8119-ff3a09842061] 2.1 Server not found for http://localhost:5000/connect/api/v1/challenges/change-password`

The following doesn't work unless I uncomment the extra server directive which kind of defeats the point of it being variable. Is there a way to turn off the validation entirely or do something to define t

[2022-10-26 07:50] zupo commented on #178
Validation can be turned off, but sadly only very broadly: https://github.com/Pylons/pyramid_openapi3#endpoints--request--response-validation

Can you provide a minimal example with code & test that shows exactly how you'd like it to work?

[2022-11-15 18:57] coler-j commented on #117
Yes, the duplication of effort without generation is painful.

[2022-11-15 22:13] dz0ny commented on #117
Pydantic generates JSON Schema from models, which can be converted to open spec with a little of work.

[2022-11-28 06:08] kskarthik opened #185 "Help with setting up"
Hello. I am trying to setup the latest version of this plugin for pyramid v2 application gkcore (https://gitlab.com/gnukhata/gkcore/) , I faced an issue with getting started section. I have added the config & tried to launch the app & i get this following err.

Please help me out, Thank you

![image](https://user-images.githubusercontent.com/11899221/204205459-a749cd6c-5e13-4873-9435-68112a6f9d2a.

[2022-11-28 08:52] kskarthik commented on #185
The error seems to come from https://github.com/p1c2u/openapi-spec-validator

[2022-11-28 08:56] zupo commented on #185
We don't (yet) support the most recent version of openapi-core and openapi-spec-validator.

Here is a list of versions that are tested to work. Start from here, then update to later versions one by one, as you need to: https://github.com/Pylons/pyramid_openapi3/blob/main/poetry.lock#L1192

[2022-11-28 08:56] #185 closed

[2022-11-28 09:36] kskarthik commented on #185
@zupo thank you for the link, pinning `openapi-spec-validator == 0.4` works for now!

[2022-11-28 15:08] zupo commented on #185
No, not intended. We should list the highest supported version. It's on my TODO, but my open source time was very limited in recent months, so I haven't gotten around to it yet. Will gladly accept a PR if you want to do it!